{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {"parser": "json"}
        }
    ]
}
